body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 768px) { /* ESSA FUNÇÃO AQUI SERVE PARA QUE QUANDO FOR CELULAR ELE TRANSFORMARA EM APENAS 2 COLUNAS PARA FICAR RESPONSIVO */
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}
.footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding: 7vb;
    background-color: #F5F5F5;
}

.footer .coluna{
    display: flex;
    flex-direction: column;
}
.coluna h3{
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 25px;
}
.coluna a{
    text-decoration: none;
    color: #555;
    margin-bottom: 5px;
}
.coluna i{
    margin-top: 10px;
}
.imagens{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    
}
.coluna img{
    width: 7vb;
    height: 4vh;
}
.copy {
    grid-column: 1 / -1; /* ocupa todas as colunas */
    margin-top: 20px;
    
}

.copy hr {
    border: none;
    height: 1px;
    background-color: #ccc; /* cor da linha */
    margin-bottom: 10px;
}