.carousel{
    width: 60%;
    margin: 4rem auto;
    border-radius: 0.625rem;
    overflow: hidden;
}

.mensagem-acesso {
    width: 60%;
    margin: 1rem auto;
    padding: 0.75rem 1rem;
    background-color: #fff2ee;
    border-left: 0.25rem solid #ff5722;
    color: #9b2d00;
}

.carousel-item{
    height: 20rem;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* preenche tudo */
}
.banner{
    width: 70%;
    margin: 1rem auto;
    border-radius: 0.625rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.banner img{
    width: 100%;
    height:20rem;
}
.produtos{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* esta função faz com que ele preencha automaticamente com valores ja ditos */
 /*   grid-template-columns: repeat(10,1fr); */
    gap: 20px;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}

.card{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.2s;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
}
.titulo {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco {
    color: #ff5722;
    font-weight: bold;
}

.estoque {
    color: #999;
    font-size: 12px;
}
.titulo-secao {
    text-align: center;
    color: #ff5722;
    margin: 20px 0;
    position: relative;
}
.linha-capenga {
    width: 70%;
    margin: 20px auto;
    border: none;
    height: 4px;
    background-color: #ff5722;
}
