body{
    background-color: #999;
}
.produtos{
    background-color: rgb(255, 255, 255);
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr)); /* esta função faz com que ele preencha automaticamente com valores ja ditos */
 /*   grid-template-columns: repeat(10,1fr); */
    gap: 1.25rem;
    padding: 1.25rem;
    width: 70rem;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.titulo-secao {
    grid-column: 1 / -1; /* ocupa todas as colunas */
    text-align: center;
    color: #ff5722;
    margin-bottom: 0.625rem;
}
.card{
    background-color: rgb(255, 255, 255);
    padding: 0.625rem;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.1);
    transition: 0.2s;
}
.card:hover {
    transform: translateY(-0.3125rem);
}
.card img {
    width: 100%;
}

.titulo {
    font-size: 0.875rem;
    color: #000000;
    margin: 0.625rem 0;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column; 
    gap: 0.3125rem;
}
.detalhes p {
    font-size: 0.875rem;
    margin: 0.25rem 0;
}

.detalhes strong {
    font-weight: bold;
}
.preco {
    color: #ff5722;
    font-weight: bold;
}

.estoque {
    color: #999;
    font-size: 0.75rem;
}
.titulo-secao {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 70rem;
    max-width: calc(100% - 2rem);
    color: #ff5722;
    margin: 0 auto;
    position: relative;
}
