body{
    background-color: #999;
}
.produtos{
    background-color: rgb(255, 255, 255);
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* esta função faz com que ele preencha automaticamente com valores ja ditos */
 /*   grid-template-columns: repeat(10,1fr); */
    gap: 20px;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.titulo-secao {
    grid-column: 1 / -1; /* ocupa todas as colunas */
    text-align: center;
    color: #ff5722;
    margin-bottom: 10px;
}
.card{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.2s;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
}

.titulo {
    font-size: 14px;
    color: #000000;
    margin: 10px 0;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column; 
    gap: 5px;
}
.detalhes p {
    font-size: 14px;
    margin: 4px 0;
}

.detalhes strong {
    font-weight: bold;
}
.preco {
    color: #ff5722;
    font-weight: bold;
}

.estoque {
    color: #999;
    font-size: 12px;
}
.titulo-secao {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 73.1%;
    color: #ff5722;
    margin: 0 auto;
    position: relative;
}
