*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.pagina{
    color: #222;
    padding: 1.25rem;
}


.cupom-card{
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
}


.cupom-titulo{
    font-size: 1.4rem;
    color: #222;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}


.tabela{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 0.5rem;
}

.tabela thead{
    background-color: rgb(251, 119, 48);
    color: #ffffff;
}

.tabela th{
    text-align: left;
    font-size: 0.85rem;
    padding: 1rem;
    border-bottom: 0.0625rem solid #eee;
}

.tabela td{
    padding: 0.75rem;
    font-size: 0.9rem;
    border-bottom: 0.0625rem solid #eee;
}

.tabela tbody tr:nth-child(even){
    background-color: #f9f9f9;
}

.tabela tbody tr:hover{
    background-color: #ffbd66;
    transition: 0.2s;
}


.cupom{
    background-color: #fff3e0;
    color: #f26522;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    font-weight: bold;
}


.ativo{
    color: rgb(255, 6, 6);
    font-weight: bold;
}

.expirado{
    color: rgb(255, 0, 0);
    font-weight: bold;
}