*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.pagina{
    color: #222;
    padding: 1.25rem;
}
.funcionario-card{
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
}
.funcionario-titulo{
    font-size: 1.4rem;
    color: #222;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.tabela{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 0.5rem;
}
.tabela thead{
    background-color: rgb(251, 119, 48);
    color: #ffffff;
}
.tabela th{
    text-align: left;
    font-size: 0.85rem;
    color: #222;
    padding: 1rem;
    border-bottom: 0.06rem solid #eee;
}
.tabela td{
    padding: 1rem;
    font-size: 0.9rem;
    border-bottom: 0.06rem solid #eee;
}
.tabela td{
    padding: 0.75rem;
    font-size: 0.9rem;
    border-bottom: 0.0625rem solid #eee;
}

.tabela tbody tr:nth-child(even){
    background-color: #f9f9f9;
}

.tabela tbody tr:hover{
    background-color: #ffbd66;
    transition: 0.2s;
}
