<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Xhopii - Login</title>
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body>
        <header class="topbar">
            <section class="top-left">
                <img src="../img/logo.png" class="logo">
                <span class="brand">Xhopii</span>
                <span class="enter">Entre</span>
            </section>
            <section class="top-right">
                <a href="#">Precisa de ajuda?</a>
            </section>
        </header>
        <main class="background">
            <section class="login-card">
                <h2>Login</h2>
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Senha">
                <a href="../index.php" class="btn-login">ENTRE</a>
                <section class="login-links">
                    <a href="redefinir.php">Esqueci minha senha</a>
                    <a href="#">Fazer login com SMS</a>
                </section>
                <section class="divider">
                    <section class="line"></section>
                    <span>OU</span>
                    <section class="line"></section>
                </section>
                <section class="social-login">
                    <button class="social-btn">
                        <img src="../img/facebook.png">
                        Facebook
                    </button>
                    <button class="social-btn">
                        <img src="../img/google.png">
                        Google
                    </button>
                    <button class="social-btn">
                        <img src="../img/apple.png">
                        Apple
                    </button>
                </section>
                <p class="register">
                    Novo na Xhopii? <span>Cadastrar</span>
                </p>
            </section>
        </main>
    </body>
</html>